@use 'variables';
@use 'mixins';

.lib_simpleFab {
  min-width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  color: variables.$color-primary;

  @include mixins.flex-row-center;

  &:hover {
    background-color: transparentize($color: variables.$color-primary, $amount: 0.92);
  }

  svg {
    width: 20px;
    height: 20px;

    * {
      fill: hsl(240, 28%, 64%);
    }
  }

  &.lib_simpleFab_large {
    min-width: 40px;
    height: 40px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &.isActive {
    border: 1px solid variables.$color-primary;

    svg * {
      fill: variables.$color-primary;
    }
  }
}
