.c_modal {
  width: 540px;
  height: 240px;
  display: flex;
  flex-direction: column;

  .cta {
    position: absolute;
    left: 24px;
    bottom: 24px;

    &.cta_cancel {
      left: 198px;
    }
  }
}
