@use 'variables';
@use 'mixins';

.select_wrapper {
  position: relative;

  .focus_border {
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: variables.$color-primary;
    transition: 0.4s ease-in-out;

    &.full {
      width: 100%;
      left: 0;
      background-color: transparentize($color: variables.$color-primary, $amount: 0.8);

      &.disabled {
        width: 90%;
        background-color: transparentize($color: variables.$color-inactive, $amount: 0.8);
      }
    }

    &.expand {
      width: 100%;
      left: 0;
    }
  }

  // -----------------------------------------------
  // Select Control
  // -----------------------------------------------

  .select_control {
    width: 100%;
    padding-right: 10px;

    @include mixins.flex-row-space;

    .select_value_display {
      width: 100%;
      user-select: none;

      @include mixins.input-shared;

      &.no_option {
        color: transparentize($color: variables.$color-text-secondary, $amount: 0.7);
      }
    }
  }

  // -----------------------------------------------
  // Select Menu ( Dropdown )
  // -----------------------------------------------

  .select_menu {
    width: 100%;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    z-index: 20;
    left: 0;
    top: 12px;
    background-color: transparentize($color: variables.$color-primary, $amount: 0.9);
    box-shadow: transparentize($color: variables.$color-primary, $amount: 0.3) 0px 0px 2px 1px;

    backdrop-filter: blur(6px);
    border-radius: 10px;
  }

  // -----------------------------------------------
  // Select Menu Option
  // -----------------------------------------------

  .select_menu_option {
    width: 100%;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: transparentize($color: variables.$color-primary, $amount: 0.8);

      * {
        color: variables.$color-primary !important;
      }
    }
  }
}
