@use "mixins";

.color_picker_container {
  width: 220px;
  height: fit-content;
  padding: 16px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  @include mixins.sidebar-item;
}
