// ------------------------------------------------
// Color Picker
// ------------------------------------------------

.react-colorful {
  width: auto !important;
  height: fit-content !important;

  .react-colorful__hue {
    border-radius: 5px;
    height: 14px;
    margin: 10px 0;
  }

  .react-colorful__saturation {
    border-radius: 10px;
    height: 100px;
    border-bottom: none;
    flex-grow: 0;
  }

  .react-colorful__saturation-pointer {
    width: 8px;
    height: 8px;
    margin-bottom: 10px;

    * {
      background-color: #fff !important;
    }
  }

  .react-colorful__hue-pointer {
    width: 8px;
    border-radius: 3px;

    * {
      background-color: #fff !important;
    }
  }
}
