@use 'variables';
@use 'animations';

@mixin type($color) {
  border-color: transparentize($color: $color, $amount: 0.6);
  color: $color;
  box-shadow: transparentize($color: $color, $amount: 0.9) 0px 0px 2px 4px;

  svg {
    * {
      fill: $color !important;
    }
  }
}

.lib_button {
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  transition: 0.1s;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparentize($color: variables.$color-primary, $amount: 0.98);
  border: 1px solid;
  user-select: none;

  svg {
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }

  &:hover {
    &::after {
      left: 120%;
      // transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &.primary {
    @include type(variables.$color-primary);
  }
  &.cancel {
    @include type(variables.$color-danger);
  }
  &.inactive {
    @include type(variables.$color-inactive);
  }
  &.success {
    @include type(variables.$color-success);
  }
  &.black {
    @include type(variables.$color-black);
    box-shadow: transparentize($color: variables.$color-black, $amount: 0.75) 0px 0px 2px 4px;
  }

  &.small {
    font-size: 14px;
    padding: 6px 10px;
  }
  &.medium {
    font-size: 15px;
    padding: 8px 10px;
  }
  &.large {
    font-size: 16px;
    padding: 10px 12px;
  }

  &::after {
    background: transparentize($color: variables.$color-inactive, $amount: 0.8);
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(-35deg);
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  .loader {
    border-radius: 50%;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    height: 20px;
    width: 20px;
    background: transparent !important;
    display: inline-block;
    animation: spin 0.75s 0s linear infinite;
  }
}
