@use 'mixins';
@use 'variables';

.music_controls {
  width: 100%;
  max-width: 540px;

  @include mixins.flex-col-center;

  .slider {
    width: 100%;
    height: 24px;

    margin: 36px 0;
    @include mixins.flex-row-space;

    .autoplay {
      @include mixins.flex-col-start;
      justify-content: flex-end;
    }

    .duration {
      flex: 1;

      @include mixins.flex-row-space;

      .time {
        width: 76px;
        @include mixins.flex-row-center;
      }
    }

    .volume {
      width: 40px;
      height: 24px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      align-self: flex-end;

      @include mixins.flex-col-start;
      justify-content: flex-end;

      svg * {
        fill: variables.$color-primary;
        cursor: pointer;
      }

      .volume_slider {
        margin-bottom: 60px;

        input {
          width: 100px !important;
        }
      }

      &:hover {
        height: 200px !important;
      }
    }
  }

  .actions {
    width: 100%;
    margin-bottom: 36px;

    @include mixins.flex-row-space;
  }

  .action_sm {
    transform: scale(0.9);
  }
}
