@use 'variables';
@use 'mixins';

.mobile {
  width: 100%;
  height: 100vh;
  background: variables.$color-body;
  overflow: hidden;
  position: relative;

  .content {
    // App bar - 75px
    height: calc(100vh - 75px);

    padding: 10px;
    @include mixins.flex-row-center;
  }
}
