@use 'transitions';
@use 'variables';
@use 'mixins';

.page_yt2mp3 {
  width: 100%;
  height: 100%;
  animation: fade-in 0.3s ease-in-out normal;

  @include mixins.flex-row-center;

  // Some grid layout

  .center {
    width: 100%;
    max-width: 600px;

    padding: 46px 0px;

    @include mixins.flex-col-center;

    .title {
      margin-bottom: 32px;
      color: variables.$color-primary !important;
    }

    .yt2mp3_input {
      width: 80% !important;
      max-width: 460px;
    }

    .cta {
      margin-top: 32px;
    }
  }
}
