.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  transform: translate(-30%, -10%) rotateZ(-22deg);
  will-change: transform;
  z-index: 999;
  pointer-events: none;
  width: 18px;
  height: 18px;
}
