@use 'mixins';

.music_library {
  padding: 14px;
  width: 100%;
  height: 100%;

  @include mixins.flex-col-start;
  align-items: flex-start;

  .tracks {
    margin-top: 6px;
    overflow-y: auto;
    flex: 1;
    padding: 5px;
  }

  @media screen and (max-width: 576px) {
    padding: 10px;
    .title {
      display: none;
    }
  }
}
