@use 'mixins';

.music_library {
  padding: 14px;
  width: 300px;
  height: 100%;

  @include mixins.flex-col-start;
  align-items: flex-start;

  .tracks {
    margin-top: 6px;
    overflow-y: auto;
    flex: 1;
  }
}
