@use 'mixins';
@use 'variables';
@use 'animations';

.food_list {
  width: 100%;
  height: fit-content;
  padding: 16px 26px !important;

  @include mixins.flex-row-center;
  align-items: flex-start;
  flex-wrap: wrap;
}
