@use 'variables';
@use 'mixins';
@use 'animations';

.sidebar_item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-top: 5px;

  transition: animations.$tran-sidebarItem;
  color: variables.$color-text-secondary;

  @include mixins.flex-row-start;

  &:hover {
    @include mixins.sidebar-item;
    width: 140px;
    svg {
      transform: scale(1.1);
    }
  }

  &.active {
    @include mixins.sidebar-item;
    color: variables.$color-primary;
    svg {
      * {
        fill: variables.$color-primary;
      }
      transform: scale(1.1);
    }
  }

  svg {
    * {
      fill: variables.$color-text-secondary;
    }
    transition: all 0.2s ease-in-out;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0 18px 0 15px;
  }

  .new_chip {
    width: 6.5px;
    height: 6.5px;
    position: absolute;
    top: 10px;
    left: 36px;
    border-radius: 50%;
    background-color: variables.$color-success;
  }
}
