@use 'mixins';
@use 'variables';
@use 'animations';

.carousel {
  width: 90%;
  margin-bottom: 50px;
  padding: 14px 5px;
  overflow: hidden;
  position: relative;
  border-radius: 24px;

  @include mixins.flex-row-center;

  box-shadow: #41405f 0px 2px 0 2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 4px;

  .spin_container {
    // Width of 1 num - 60px
    // Width of 37 nums - 2220px = 60 * 37

    z-index: 1;
    width: 2220px;
    min-width: 2220px;
    max-width: 2220px;
    overflow: hidden;
    position: relative;

    .spin_items {
      width: 8880px;

      @include mixins.flex-row-start;
    }
  }

  .pointer {
    width: 2px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    background-color: transparentize($color: variables.$color-primary, $amount: 0.2);
    box-shadow: transparentize($color: variables.$color-primary, $amount: 0.8) 0 0 3px 1px;

    .top_dot,
    .bot_dot {
      position: absolute;
      top: 0;
      left: -3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparentize($color: variables.$color-primary, $amount: 0);
    }

    .bot_dot {
      bottom: 0;
      top: unset;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.5) 10px -3px 6px 0px inset,
      rgba(0, 0, 0, 0.5) -10px -3px 6px 0px inset;
  }
}
