@use 'mixins';

.modal_types {
  padding: 10px;
  width: 640px;
  height: 540px;
  overflow: visible;

  @include mixins.flex-col-center;

  .types_wrapper {
    height: 85%;
    margin-top: 20px;
    width: 420px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
  }

  .display_color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .type_row {
    margin: 10px 0;
    padding: 6px;

    @include mixins.flex-row-space;

    .type_actions {
      // position: relative;

      @include mixins.flex-row-space;
    }
  }
}
