@use 'transitions';

.pageThree_test {
  width: 100%;
  height: 100%;
  animation: fade-in 0.3s ease-in-out normal;

  position: absolute;
  top: 0;
  left: 0;

  .cta_link {
    position: absolute;
    top: 24px;
    left: 24px;
  }
}
