@use 'variables';
@use 'mixins';
@use 'animations';

.appbar_item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-top: 5px;

  transition: all 0.2s ease-in-out;
  color: variables.$color-text-secondary;

  @include mixins.flex-col-center;

  svg {
    * {
      transition: all 0.2s ease-in-out;
      fill: variables.$color-text-secondary !important;
    }

    width: 28px;
    height: 28px;
    margin: 12px 0;
  }

  &:hover,
  &.active {
    color: variables.$color-primary;

    @include mixins.sidebar-item;

    svg {
      * {
        fill: variables.$color-primary !important;
      }
    }
  }
}
