@import 'mixins';
@import 'variables';

.sidebar {
  width: $width-sidebar;
  height: 95vh;
  border-radius: 10px;
  background-color: $color-sidebar;

  @include flex-col-space;

  .sidebarTop {
    margin: 20px 0;
    svg {
      width: 40px;
      height: 40px;
    }
  }

  .sidebarMid {
    width: 50px;
  }

  .sidebarBot {
    margin: 20px 0;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
