@import 'mixins';
@import 'variables';

.sidebar {
  width: $width-sidebar;
  height: 95vh;
  border-radius: 10px;
  background: $color-sidebar;
  position: relative;
  box-shadow: #00000026 1px 1px 2px;
  z-index: 3;

  @include flex-col-space;

  .sidebar_top {
    margin: 20px 0;
    svg {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .sidebar_mid {
    width: 50px;
  }

  .sidebar_bot {
    margin: 20px 0;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
