@use 'mixins';
@use 'variables';

.page_signin {
  height: 100%;

  @include mixins.flex-col-center;

  .email_form {
  }

  .divider {
    margin: 20px 0;
    width: 400px;
    height: 2px;
    background-color: transparentize($color: variables.$color-primary, $amount: 0.85);
  }

  .providers {
    width: 400px;
    @include mixins.flex-row-space;

    .button {
      font-size: 14px;
    }
  }
}
