@use 'mixins';

.settings_left {
  width: 50%;

  @include mixins.flex-col-start;

  .option_item {
    width: 300px;
    padding: 16px;

    @include mixins.flex-col-start;

    .opt_title {
      align-self: flex-start;
      justify-self: flex-start;
    }
  }
}
