@keyframes sideBar-grow {
  from {
    width: 60px;
  }
  to {
    width: 140px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

$tran-sidebarItem: all 200ms ease-in-out; // #{$ease-in-expo}
// $anim-sidebarItem: sideBar-grow 200ms #{$ease-in-expo} alternate;
