@import 'variables';

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin container-1 {
  box-shadow: #00000033 0px 3px 8px 1px, #3d3c62 0px 2px 0px inset;
  background-color: $color-sidebar-active;
  border-radius: 10px;
}
