$color-primary: #90cbf8;
$color-black: #050517;
$color-white: #fff;

$color-text-primary: #e7e7e7;
$color-text-secondary: #8a8abd;

$color-body: #0f0f16;
$color-background: #2a2a42;
$color-sidebar: linear-gradient(
  0deg,
  rgba(46, 46, 72, 1) 0%,
  rgba(48, 48, 72, 1) 50%,
  rgba(46, 46, 72, 1) 100%
);
$color-sidebar-active: #353452;

$width-sidebar: 60px;

$grid-columns: 12;

// Example
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
