$color-primary: hsl(206, 88%, 77%);
$color-black: hsl(240, 64%, 5%);
$color-white: hsl(0, 0%, 100%);
$color-success: hsl(128, 88%, 77%);
$color-danger: hsl(0, 88%, 77%);
$color-inactive: hsl(0, 0%, 84%);

$color-text-primary: hsl(0, 0%, 91%);
$color-text-secondary: hsl(240, 28%, 64%);

$color-body: radial-gradient(ellipse at bottom, #172230 0%, #090a0f 100%);
$color-background: hsla(240, 22%, 21%, 0.9);
$color-sidebar: linear-gradient(
  0deg,
  rgba(46, 46, 72, 1) 0%,
  rgba(48, 48, 72, 1) 50%,
  rgba(46, 46, 72, 1) 100%
);
$color-sidebar-active: hsl(242, 22%, 26%);
$color-container-1: hsla(242, 22%, 26%, 0.8);

$width-sidebar: 60px;

// Example
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
