$color-primary: #90cbf8;
$color-black: #050517;
$color-white: #fff;

$color-text: #8f9199;
$color-text-active: #e7e7e7;

$color-body: #020203;
$color-background: #0f0e0e;

$grid-columns: 12;

// Example
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
