@import 'mixins';

.controls {
  height: 60px;
  width: 100%;
  padding: 0 20px;

  @include flex-row-space;

  .left {
    @include flex-row-center;
  }

  .right {
    @include flex-row-center;
  }

  .mleft {
    margin-left: 20px;
  }

  // .mright {
  //   margin-right: 20px;
  // }
}
