@use 'mixins';

.modal_recipe {
  width: 600px !important;
  max-width: 90vw !important;
  height: fit-content !important;
  max-height: 90vh !important;
  padding: 24px;

  .top {
    width: 100%;
    margin-bottom: 24px;

    @include mixins.flex-row-space;
  }

  .description {
    white-space: pre-line;
  }
}
